



.bg_purchase_register{
  background-image: url("../imgs/bg_register_pattern.png");
  background-position: center;
  background-size: cover;
}
.register_purchase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(243, 247, 250, 0.8);
  padding: 2rem 2rem;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #A4B1BF;
}



/* ------------------ Register: Right -------------------- */
.register_right{
  flex: 1;
  padding-left: 2rem;
}

#register_info{
  display: flex;
  flex-direction: row;
}



