.bg_register{
  background-image: url("../imgs/bg_register.png");
  /* Photo by Green Chameleon on Unsplash */
  background-position: center;
  background-size: cover;
}
.register{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.register_l{
  flex: 1;
  padding-right: 2rem;
}
.register_l h2{
  text-align: left;
}

/* ------------------ Register: Right -------------------- */
.register_r{
  flex: 1;
  padding-left: 2rem;
  background-color: rgba(243, 247, 250, 0.8);
  padding: 2rem 2rem;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #A4B1BF;
}

#register_name{
  display: flex;
  flex-direction: row;
}
